/* RESET */
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* BASE */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* CONTAINER */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  padding: 24px 0;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* HERO */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}

.hero-btn {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* SECTIONS */
.section {
  padding: 120px 0;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  color: #2e2f42;
}

/* FEATURES */
.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-title {
  margin-bottom: 8px;
  font-size: 20px;
  color: #2e2f42;
}

/* TEAM */
.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
}

.team-name {
  margin: 32px 0 8px;
  font-size: 20px;
  color: #2e2f42;
}

.team-position {
  margin-bottom: 32px;
}

/* PORTFOLIO */
/* PORTFOLIO SECTION */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px; /* vertical 48px, horizontal 24px */
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
}

.portfolio-content {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;
  color: #f4f4fd;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
